.fixture {
    display: flex;
    padding: 0.7rem;
    justify-content: space-evenly;
    margin: 0.7rem 0;
    border-radius: 10px;
    align-items: center;
    color: #fff;
    background-image: linear-gradient(135deg, #00F260, #0575E6);
    transition: all 0.1s linear;

    &-last {
        background-image: linear-gradient(135deg, #ec008c, #fc6767);
    }

    // &-next {

    // }

    &__teams {
        width: 140px;
        display: flex;
        justify-content: inherit;
        align-items: center;
    }

    &__date {
        margin-bottom: 0;
        font-weight: 500;
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.02);
    }
}