.table {
    color: green;
    margin-bottom: 100px;
}

.table td,
.table th {
    padding: 0.5rem;
    font-weight: 400;
}

.table img {
    width: 25px;
}

tbody {
    color: #fff;
    font-weight: 400;
}