@import '../../base.scss';

.lineup {
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__header {
        text-align: center;
        border-radius: 5px;
        background: #343a40;
        padding: 0.5rem;
        margin: 1.5rem;
    }
}