@import '../../base.scss';

.nextPage {
    color: #fff;
    margin: 0.5rem auto;
    padding: 1rem;
    width: 60%;
    border-radius: 2.5rem;
    background-image: $linear_red;
    font-size: 1.3rem;
    font-weight: 800;
    text-align: center;
    display: block;
    border: none;

    &:focus {
        border: none;
        outline: none;
    }

    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

@media(max-width:$breakpoint-tablet) {
    .nextPage {
        width: 95%;
    }
}