@import '../../base.scss';

.navbar {
    color: #fff;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    height: 80px;
    z-index: 10;
    bottom: 0;
    left: 0;
    background-image: $linear_background;
    box-shadow: $shadow;

    &__main {
        flex: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__settings {
        flex: 0.1;
        display: flex;
        justify-content: center;
    }

    &__image {
        width: 50px;
        height: 50px;
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        color: #fff;
        cursor: pointer;
    }


}