@import '../../base.scss';

.navbar {
    color: #fff;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    z-index: 10;
    bottom: 0;
    left: 0;
    background-image: $neumorphic_bg;
    box-shadow: $neumorphic_shadow;

    &__image {
        width: 50px;
        height: 50px;
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        color: #fff;
        cursor: pointer;
    }


}