@import '../../base.scss';

.topPlayers {
    text-align: center;
    padding: 0.6rem 0.4rem;
}

@media(max-width:$breakpoint-tablet) {
    .topPlayers__container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        overflow-y: auto;
    }
}