@import '../../base.scss';


.fixture_details {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    box-shadow: $neumorphic_shadow;
    border-radius: 15px;
    margin: 0 auto;
}

.fixture {
    &__navbar {
        margin: 1rem 0;
        display: flex;
        justify-content: space-around;
        color: #fff;
        background: #343a40;
        padding: 0.5rem;
        border-radius: 5px;


    }

    &__nav {
        cursor: pointer;

        &.active {
            color: $green;
        }
    }

}

@media(max-width:777px) {
    .fixture_details {
        padding: 1rem;
        box-shadow: none;
    }
}