@import '../../base.scss';

.auth {
    padding: 0 15rem;
    height: 100vh;
    display: grid;
    place-items: center;

    &__container {
        padding: 6rem 2rem;
        background: $background;
        box-shadow: $shadow;
        border-radius: 2rem;
    }

    &__left {
        span {
            color: #fff;
            cursor: pointer;
        }

    }

    &__right {
        //change to COL
        width: 70%;

        // horizontal line
        p {
            border-bottom: 2px solid #4a534a;
            line-height: 0.1em;
            margin: 1rem 0;

            span {
                background: #1e2120;
                padding: 0 10px;
            }
        }
    }

    &__message {
        color: #fff;
        border-radius: 5px;
        padding: 0.2rem;
        background: #ec0404bf;
    }

    img {
        width: 100%;
    }

    form {
        flex: 0.8;

        button {
            background: $green;
            font-weight: 700;
            letter-spacing: 1px;
        }
    }

    input,
    button {
        height: 2.5rem;
        overflow: visible;
        background: #4a534a;
        border-radius: 0.8rem;
        padding: 0 1rem;
        color: #fff;
        margin-top: 0.5rem;
        font-size: inherit;
        box-shadow: none;
    }
}

@media(max-width:1096px) {
    .auth {
        padding: 0 6rem;
    }

    &__container {
        padding: 5rem 0;
        width: 100%;
    }
}

@media (max-width:$breakpoint-tablet) {
    .auth {
        padding: 0;

        &__container {
            padding: 2rem;
            height: 100vh;
            border-radius: 0;
            box-shadow: none;
            width: 100%;
        }

        &__left {
            display: flex;
            flex-direction: column;
            justify-content: center;

            img {
                display: none;
            }
        }

        &__right {
            justify-content: space-between;
            width: 100%;
            padding: 0;
        }
    }
}