.auth {
    height: 100vh;
    display: grid;
    place-items: center;

    &__wrapper {
        padding: 6rem 2rem;
        background: #1e2120;
        border-radius: 30px;
        // box-shadow: 24px 24px 52px #111313,
        //     -24px -24px 52px #2b2f2d;
        box-shadow: 7px 7px 14px #131514, -7px -7px 14px #292d2c;
    }

    img {
        width: 100%;
    }

    form {
        flex: 0.8;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        button {
            background: #05d66e;
            font-weight: 700;
            letter-spacing: 1px;
        }
    }

    input,
    button {
        height: 40px;
        border: none;
        outline: none;
        outline: 100%;
        overflow: visible;
        background: #4a534a;
        border-radius: 13px;
        padding: 0 1rem;
        color: #fff;
    }



    &__left {
        h1 {
            font-size: 3rem;
        }

        p {
            font-size: 1.1rem;

            span {
                color: #fff;
                cursor: pointer;
            }
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        width: 70%;
        padding: 0 4rem;
        text-align: center;

        p {
            border-bottom: 2px solid #4a534a;
            line-height: 0.1em;

            span {
                background: #1e2120;
                padding: 0 10px;
            }
        }
    }
}

@media (max-width:779px) {
    .auth {
        height: 100vh;
    }

    .auth__left {
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            display: none;
        }
    }

    .auth__right {
        justify-content: space-between;
        width: 100%;
        padding: 0;
    }
}