// colors

$background:#1e2120;
$green:#05D66E;
$violet:#BD9AFF;
$white:#FFFFFF;
$gray:#545D60;

$neumorphic_shadow: 7px 7px 14px #131514,
-7px -7px 14px #292d2c;

$neumorphic_shadow-inset: inset 7px 7px 14px #131514,
inset -7px -7px 14px #292d2c;

$neumorphic_bg:linear-gradient(145deg, #202322, #1b1e1d);
$linear_blue: linear-gradient(135deg, #B589FE, #6457E3);
$linear_red: linear-gradient(135deg, #13B6B2, #05D471);

/* Using SCSS variables to store breakpoints */
$breakpoint-tablet: 777px;