@import "./base.scss";

*,
html {
  margin: 0;
}

body {
  background: $background;
  color: $green;
  font-family: 'Roboto', sans-serif;
  // overflow: hidden;
}

//TODO
.container {
  margin-bottom: 15vh;
}

//TODO design scrollbar
// .app {
//   display: flex;
//   padding: 2rem;
// }
.container__main {
  margin-top: 2vh;
  margin-bottom: 15vh;
}

.choose-teams {
  padding: 1rem 3rem;
}

// teams-row
.teams-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  &__title {
    margin-bottom: 1rem;
    text-align: center;
  }

  &__teams {
    display: flex;
    justify-content: space-around;
  }


}

.my-teams {
  flex: 0.4;
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 1rem;
    text-align: center;
  }
}

.Toastify__toast-container {
  width: 60%;
  text-align: center;
}

.Toastify__toast {
  border-radius: 5px;
  font-size: 1.2rem;
}

.Toastify__toast--default {
  background: #fff;
  color: #aaa;
}

.Toastify__toast--info {
  background: #3498db;
}

.Toastify__toast--success {
  background: #07bc0c;
}

.Toastify__toast--error {
  background: #f44941;
}

// #343a40
// linear-gradient( 45deg,#383d42,#40454b)